<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mood">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sms"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/sms"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustPan"
        android:isScrollContainer="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.profileActivity"
            android:parentActivityName=".Activities.ConverseActivity" />
        <activity
            android:name=".Activities.ConverseActivity"
            android:parentActivityName=".Activities.MainUi" />
        <activity
            android:name=".Activities.inboxActivity"
            android:parentActivityName=".Activities.MainUi" />
        <activity android:name=".Activities.MainUi"  />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BroadCast_Receivers.MessageReceived">
            <intent-filter >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>